<h3><%= @organ.name %></h3>
  <h4><%= @organ.sale_message %></h4>
  <h4>Price: <%= @organ.price %></h4>
  <h4>Tax: <%= @organ.tax %></h4>
  <h4>Total: <%= @organ.total %></h4>
  <img class=img_product src="<%= @organ.image %>">
  <h4><%= @organ.description %></h4>

  <a href="/organs/<%= @organ.id %>/edit"><input class="btn btn-warning" type="submit" name="" value="Edit Item"></a>
  <%= link_to "Delete Item", "/organs/#{@organ.id}", method: :delete, class: "btn btn-danger" %>
