<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/organs">The Organ Bank</a>
    </div>

    <!-- A bunch of buttons that I dont currently need that came with the navbar.. -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/organs/?disc=2">Clearance!<span class="sr-only">(current)</span></a></li>
        <li><a href="/organs/<%= Organ.random_organ %>">Random Product!</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user && current_user.name %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user %>
              <li><a href="/logout">Logout</a></li>
            <% else %>
              <li><a href="/signup">Create an account</a></li>
              <li><a href="/login">Login</a></li>              
            <% end %>


            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/organs/?cat=1">Collectible</a></li>
                <li><a href="/organs/?cat=2">Rare</a></li>
                <li><a href="/organs/?cat=3">Common</a></li> 
                <li><a href="/organs/?cat=4">Useful</a></li>
              </ul>
            </li>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      <div class="navbar-form navbar-left">
        <%= form_tag('/organs', :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class:"form-control" %>
          <div class="form-group">
            <%= submit_tag "Submit", :name => nil, class:"btn btn-info" %>
          </div> 
      </div>
      <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/organs/new">New Item</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/organs/?sort=name">Sort by name</a></li>
            <li><a href="/organs/?sort=price&dir=asc">Sort by lowest price</a></li>
            <li><a href="/organs/?sort=price&dir=desc">Sort by highest price</a></li>  
            <li role="separator" class="divider"></li>
            <li><a href="#">Contact Us!</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <div class="container-fluid">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>

      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
